.Navbar {
    background-color: rgb(83, 204, 168);
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
}

.Navbar :last-child {
    margin-top: 40px;
}

.Navbar .item a  {
    text-decoration: none;
    color: white;
}
.Navbar a:hover {
    color: green;
}

