.Navbar {
    background-color: rgb(83, 204, 168);
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
}

.item a  {
    text-decoration: none;
    color: white;
}

.item a.active {
    color: gold;
}

.item a:hover {
    color: green;
}

.Navbar :last-child {
    margin-top: 40px;
}

.Navbar :nth-child(5){
    margin-top: 40px;
}


